# Created by https://www.toptal.com/developers/gitignore/api/git
# Edit at https://www.toptal.com/developers/gitignore?templates=git

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

descriptor.mod
# End of https://www.toptal.com/developers/gitignore/api/git
.cwtools/cwtools-eu4-config-master/.editorconfig
.cwtools/cwtools-eu4-config-master/.gitlab-ci.yml
.cwtools/cwtools-eu4-config-master/abilities.cwt
.cwtools/cwtools-eu4-config-master/common/00_small_types_consolidated.cwt
.cwtools/cwtools-eu4-config-master/common/advisortypes.cwt
.cwtools/cwtools-eu4-config-master/common/ages.cwt
.cwtools/cwtools-eu4-config-master/common/ai_army.cwt
.cwtools/cwtools-eu4-config-master/common/ai_personalities.cwt
.cwtools/cwtools-eu4-config-master/common/ancestor_personalities.cwt
.cwtools/cwtools-eu4-config-master/common/buildings.cwt
.cwtools/cwtools-eu4-config-master/common/casus_belli_and_war_goals.cwt
.cwtools/cwtools-eu4-config-master/common/center_of_revolution.cwt
.cwtools/cwtools-eu4-config-master/common/colonial_region.cwt
.cwtools/cwtools-eu4-config-master/common/countries_consolidated.cwt
.cwtools/cwtools-eu4-config-master/common/cultures.cwt
.cwtools/cwtools-eu4-config-master/common/custom_gui.cwt
.cwtools/cwtools-eu4-config-master/common/defender_of_faith.cwt
.cwtools/cwtools-eu4-config-master/common/diplomatic_actions.cwt
.cwtools/cwtools-eu4-config-master/common/diplomatic_actions_new.cwt
.cwtools/cwtools-eu4-config-master/common/disasters.cwt
.cwtools/cwtools-eu4-config-master/common/estates.cwt
.cwtools/cwtools-eu4-config-master/common/federation_advancements.cwt
.cwtools/cwtools-eu4-config-master/common/flagship_modification.cwt
.cwtools/cwtools-eu4-config-master/common/golden_bull.cwt
.cwtools/cwtools-eu4-config-master/common/governments_and_reforms.cwt
.cwtools/cwtools-eu4-config-master/common/greatprojects.cwt
.cwtools/cwtools-eu4-config-master/common/hegemon.cwt
.cwtools/cwtools-eu4-config-master/common/holy_order.cwt
.cwtools/cwtools-eu4-config-master/common/ideas_and_native_advancements.cwt
.cwtools/cwtools-eu4-config-master/common/imperial_incident.cwt
.cwtools/cwtools-eu4-config-master/common/imperial_reforms.cwt
.cwtools/cwtools-eu4-config-master/common/incidents.cwt
.cwtools/cwtools-eu4-config-master/common/institutions.cwt
.cwtools/cwtools-eu4-config-master/common/links.cwt
.cwtools/cwtools-eu4-config-master/common/luck.cwt
.cwtools/cwtools-eu4-config-master/common/mercenary_company.cwt
.cwtools/cwtools-eu4-config-master/common/modifiers_consolidated.cwt
.cwtools/cwtools-eu4-config-master/common/on_actions.cwt
.cwtools/cwtools-eu4-config-master/common/opinion_modifiers.cwt
.cwtools/cwtools-eu4-config-master/common/parliaments.cwt
.cwtools/cwtools-eu4-config-master/common/peace_treaties.cwt
.cwtools/cwtools-eu4-config-master/common/personalities.cwt
.cwtools/cwtools-eu4-config-master/common/rebel_types.cwt
.cwtools/cwtools-eu4-config-master/common/religions_and_related.cwt
.cwtools/cwtools-eu4-config-master/common/scripted_functions.cwt
.cwtools/cwtools-eu4-config-master/common/scripted_triggers_and_effects.cwt
.cwtools/cwtools-eu4-config-master/common/subject_types.cwt
.cwtools/cwtools-eu4-config-master/common/technologies.cwt
.cwtools/cwtools-eu4-config-master/common/technology_groups.cwt
.cwtools/cwtools-eu4-config-master/common/trade_consolidated.cwt
.cwtools/cwtools-eu4-config-master/common/unit_types.cwt
.cwtools/cwtools-eu4-config-master/customizable_localisation/custom_locs.cwt
.cwtools/cwtools-eu4-config-master/decisions/decisions.cwt
.cwtools/cwtools-eu4-config-master/dlc_event_pics.cwt
.cwtools/cwtools-eu4-config-master/dlc_metadata/dlc_metadata.cwt
.cwtools/cwtools-eu4-config-master/effects.cwt
.cwtools/cwtools-eu4-config-master/enums.cwt
.cwtools/cwtools-eu4-config-master/events/events.cwt
.cwtools/cwtools-eu4-config-master/F\# attempt at locs.txt
.cwtools/cwtools-eu4-config-master/folders.cwt
.cwtools/cwtools-eu4-config-master/gfx/sprite_packs.cwt
.cwtools/cwtools-eu4-config-master/gfx/sprite_packsorder.cwt
.cwtools/cwtools-eu4-config-master/history/history_consolidated.cwt
.cwtools/cwtools-eu4-config-master/interface/sprites.cwt
.cwtools/cwtools-eu4-config-master/LICENSE
.cwtools/cwtools-eu4-config-master/localisation.cwt
.cwtools/cwtools-eu4-config-master/map/ambient_objects_and_terrain.cwt
.cwtools/cwtools-eu4-config-master/map/areas_regions_etc.cwt
.cwtools/cwtools-eu4-config-master/map/default_map.cwt
.cwtools/cwtools-eu4-config-master/map/tiles.cwt
.cwtools/cwtools-eu4-config-master/missions/missions.cwt
.cwtools/cwtools-eu4-config-master/modifier_rule.cwt
.cwtools/cwtools-eu4-config-master/modifiers.cwt
.cwtools/cwtools-eu4-config-master/needed things.txt
.cwtools/cwtools-eu4-config-master/on actions wip.txt
.cwtools/cwtools-eu4-config-master/on_actions.csv
.cwtools/cwtools-eu4-config-master/README.md
.cwtools/cwtools-eu4-config-master/scope_links.cwt
.cwtools/cwtools-eu4-config-master/scopes.cwt
.cwtools/cwtools-eu4-config-master/todo stuff.txt
.cwtools/cwtools-eu4-config-master/triggers.cwt
.cwtools/cwtools-eu4-config-master/useful errors.txt
.cwtools/cwtools-eu4-config-master/variable_enums.cwt
missions/work_exemple/DOM_Russia_Missions.txt
missions/work_exemple/SCA_Lithuania_Missions.txt
missions/work_exemple/SCA_Livonian_Missions.txt
missions/work_exemple/TR_Novgorodian_Missions.txt
missions/basefiles/DOM_Russia_Missions.txt
missions/basefiles/SCA_Lithuania_Missions.txt
missions/basefiles/SCA_Livonian_Missions.txt
missions/basefiles/TR_Novgorodian_Missions.txt
missions/work_exemple/WOC_Venetian_Missions.txt
missions/work_exemple/WOC_Italian_Missions.txt
missions/work_exemple/EMP_Milanese_missions.txt
missions/work_exemple/EMP_Florentine_missions.txt
